VeID
.vscode
older_scripts
__pycache__
sample_content

server/node_modules
db_caught/*.png
db_caught/null_plate/*.png
db_caught/1

camera.csv
testscr.py
simple_motiondetection.py
motiondetection.py
test.py
received_frame.txt

*.csv
*.db
