<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>History DB</title>
</head>
<body>
    <%- include('./assets/navbar.html') %>
    <div class="first" id="history"></div>

    <script src="scr_db.js"></script>
    <script>
        document.getElementById("username").innerText = "<%= username %>"
        
        const dbname = "history";
        const tableid = "history";
        fetchCreateShit('history', '/db/history');
    </script>
</body>
</html>